<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :problem %>
    <%= form.text_area :problem, id: :record_problem %>
  </div>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.date_select :event_date, id: :record_event_date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, id: :record_location %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_area :status, id: :record_status %>
  </div>

  <div class="field">
    <%= form.label :provider %>
    <%= form.text_area :provider, id: :record_provider %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments, id: :record_comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
